.form-container {
  background: url('./asset/bg-image.png'),
    linear-gradient(to bottom, peachpuff, white);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
}
.form h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.success {
  border: 1px solid green;
}
.success:focus {
  outline: 1px solid green;
  border: none;
}
.danger {
  border: 1px solid red;
}
.danger:focus {
  outline: 1px solid red;
  border: none;
}
.form button {
  padding: 0.6rem;
  margin-top: 0.6rem;
  background-color: var(--primary-500b);
}
.alert {
  background: transparent;
  padding: initial;
  margin-top: 0.2rem;
  font-size: small;
}
.alert-success {
  color: green;
}
.alert-danger {
  color: red;
}
