html{
    font-size: 1.2rem;
}

table, tr, th, td, caption{
    border: solid 1px black;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    padding: 0.5rem;
}

a:hover, a:active {
    color: aqua;
}

a:visited {
    color: antiquewhite;
}
li {
    line-height: 1.4;
    list-style-type: none;
}
a{
    text-decoration: none;
}