/* 
==================
HEADER
==================
*/
.header  {
    display:  flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 1.5rem auto;
    
    
}
.header h2 {
    text-transform: lowercase;
    font-weight: 600;
    color: var(--primary-600);
    font-size: 2rem;
}
.header button {
background-color: white;
border: 1px solid var(--primary-600);
color: var(--primary-600);
padding: 0.6rem;
border-radius: var(--borderRadius);
font-weight: 600;
cursor: pointer;
transition: .5s;
transform-origin: center;
}
.header button:hover {
background-color: var(--primary-600);
color: white;
}
/* 
==================
HERO
==================
*/

.hero {   
    position: relative;
    padding-block: 3rem 2rem;
    width: 90vw;
    margin: 0 auto;
}
.hero-heading {
    text-transform: none;
    line-height: 1.2;
    letter-spacing: 1px;
    max-width: 18rem;
    font-size: 2.1rem;
}
.hero-heading span {
    font-weight: 600;
    color: var(--primary-600);
}
.hero-heading span:nth-of-type(2){
      position: relative;
}
 .hero-heading span:nth-of-type(2):after {
    content: '';
    position: absolute;
    top: -45%;
    right: -10%;
    width: 122%;
    height: 200%;
    border: 1.5px solid transparent;
    border-radius: 50%;
    border-top-color: var(--primary-600) ;
}
.hero-text {
    margin-block: 2rem;
   max-width: 18rem;
    font-size: 0.9rem;
   
}
.hero button {
    background-color: var(--primary-600);
    border: none;
    padding: 1rem 1.2rem;
    color: white;
    font-weight: 600;
    border-radius: var(--borderRadius);
    z-index: 1;
    position: relative;
    transition: all .5s;
   
}
  .hero button:hover {
    color: var(--primary-600);
    cursor: pointer;
  }
  .hero button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: var(--borderRadius);
    transition: all .5s;
    border: 1px solid var(--primary-600);
  }
  .hero button:hover::before {
    transform: scaleX(1);
  }
.hero-img {
    width: 90vw;
    height: 30vh;
    background: linear-gradient(to bottom, var(--primary-100), var(--primary-300), var(--primary-600));
     margin-block: 3rem;
    border-radius: 0.5rem;
    position: relative;
}
.hero-img figure{
    margin: initial;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
}
.hero-img figure .img {
    max-width: 200px;
    aspect-ratio: 1/1;
    margin-inline: auto;
    border-radius: 0.5rem;
}

.stat {
    text-align: center;
    
}
.stat-info {
  margin-block: 2rem;
}
.stat-info h2 {
    font-weight: 600;
    
}
.stat-info h2 small{
    font-weight: 800;
    margin-left: -8px;
      
}
.stat-info p {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    
}
@media (min-width: 768px) {
    .hero {
        margin-block: 4.5rem 16rem;
    }
   .hero-heading{
    font-size: 3.8rem;
    max-width: 32rem;
   }
   .hero-text{
    font-size: 1.15rem;
    max-width: 22rem;
   }
    
    
    .hero-img {
        margin-block: 0;
        position: absolute;
        right: 0;
       top: 0;
        width: 17rem;
        height: 100%;
        z-index: -1;
    }
    .hero-img figure {
        left: 0;
    transform: translateX(0);
    }
    .hero-img figure .img {
        max-width: 250px;
        margin-inline-start: 0;
    }
    .stat {
        display: flex;
        align-items: center;
       justify-content: space-evenly;
       position: absolute;
       top: 100%;
       width: 100%;
       margin-top: 0.5rem;
    }
    .stat-info {
        margin-block: 4rem;
      }
}
@media (min-width: 1024px) {
    .hero {
        margin-block: 4.5rem 4rem;
    }
    .hero-text {
        max-width: 17rem;
        font-size: 1rem;
    }

.hero-img {
    left: 41%;
   
}
.stat {
    flex-direction: column;
    margin-top: 0;
    top: 0;
    left: 82%;
    height: max-content;
    width: max-content;
    text-align: start;
    align-items: start;
    gap: 2.5rem;
    padding-top: 4.5rem ;
}
.stat-info {
    margin-block: 0;
}
}
/* 
==================
REVIEW
==================
*/
.review {
    text-align: center;
    background-color: var(--primary-600);
    color: white;
    border-radius: 0.5rem;
    padding: 17rem 1rem 1rem;
    position: relative;
    margin-top:6rem;
}
.review figure{
    margin: initial;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20%;
}
.review figure .img {
    width: 300px;
    aspect-ratio: 1/1;
}
.review div {
    position: relative;
}
.review div::before{
    content: '';
    position: absolute;
    top: -15%;
    left: 50%;
    width: 70px;
    height: 80px;
   border: 2px solid transparent;
   border-right-color: white;
  transform: rotate(55deg) translateX(-100%);
    border-radius: 50%;
}
.review h4 {
    text-transform: none;
}
.review h4 span {
    font-weight: 600;
}
.review p:first-of-type {
    margin-block: 1rem;
    font-size: 1.1rem;
}
.review p:last-of-type{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.review p:last-of-type span{
    font-weight: 400;
   letter-spacing: 2px;
}
@media (min-width: 768px) {
    .review {
        width: 90vw;
        margin-inline: auto;
       margin-top: 19rem;
    }
    .review h4, .review p {
        max-width: 30rem;
        margin-inline: auto;
    }
}
@media (min-width: 1024px) {
    .review {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem 0rem ;
        margin-top:2rem;   
    }
    .review h4, .review p {
         max-width: 17.5rem;
         text-align: left;
    }
    .review figure{
        position: static;
        margin: initial;
        transform: translateX(0);
    }
    .review div::before{
        top: 20%;
        left: -25%;
    }
}
/* 
==================
FOOTER
==================
*/
footer {
    text-align: center;
    margin-top: 2rem;
}
footer h2 {
    text-transform: lowercase;
    font-weight: 600;
    color: var(--primary-600);
    font-size: 2rem;
}
footer p {
    margin-block: 1.5rem 2rem;
}
.socials svg {
    width: 20px;
    height: 20px;
    margin-bottom: 3rem;
    transition: all .5s;
}
.socials svg:nth-of-type(2){
    margin-inline: 0.5rem;
}
.socials svg:hover {   
    border: 1px solid var(--primary-600);
border-radius: 0.3rem;
cursor: pointer;
transform: scale(1.3);

    }
@media (min-width: 768px) {
    footer {
        display: flex;
       align-items: center;
       justify-content: space-between;
       height: 4rem;
       margin: 2rem auto 2rem;
       width: 90vw;  
    }
    footer p {
        margin-block: 0;
    
    }
    .socials{
        align-content: center;
        padding-top: 0.6rem;
    }
    .socials svg {
        margin-bottom: 0;
        padding: 0.1rem;
       
    }
    

}